<div class="main-Div">
  <div class="left-Div col-md-9">
      <mat-card class="mat-card-main">
          <mat-card class="mat-cards">
            <img src="assets/Logo/Student/Dashboard/Name.png" alt="" class="logo">
            <p class="text">{{ wardenInfo.fn }} {{ wardenInfo.mn }} {{ wardenInfo.ln }}</p>
          </mat-card>
          <div style="display: flex;justify-content:space-between;">
            <mat-card class="mat-cards twice">
              <img src="assets/Logo/Student/Dashboard/cake.png" alt="" class="logo">
              <p class="text">{{ wardenInfo.DOB }}</p>
            </mat-card>
            <mat-card class="mat-cards twice">
              <img src="assets/Logo/Student/Dashboard/gender-symbols.png" alt="" class="logo">
              <p class="text">{{ wardenInfo.gender }}</p>
            </mat-card>
          </div>
          <mat-card class="mat-cards">
            <img src="assets/Logo/Student/Dashboard/gmail.png" alt="" class="logo">
            <p class="text">{{ wardenInfo.email }}
          </mat-card>
          <mat-card class="mat-cards">
            <img src="assets/Logo/Student/Dashboard/telephone.png" alt="" class="logo">
            <p class="text">{{ wardenInfo.mobn }}</p>
          </mat-card>
      </mat-card>
  </div>
  <div class="right-Div col-md-3">
      <mat-card class="mat-card-address">
        <mat-card-title>
          <img src="assets/Logo/Student/Dashboard/home-address.png" alt="" class="logo2">
          <p class="text2">ADDRESS</p>
        </mat-card-title>
        <mat-card-content>
          {{ wardenInfo.add }}
        </mat-card-content>
      </mat-card>
      <mat-card class="mat-card-applyleave">
        <mat-card-title>
          <img src="assets/Logo/Common Logo's/leave.png" alt="" class="logo2">
          <p class="text3">Apply For Leave</p>
        </mat-card-title>
      </mat-card>
      <mat-card class="mat-card-leave">
        <mat-card-title>
          <img src="assets/Logo/Common Logo's/countdown.png" alt="" class="logo2">
          <p class="text3">Remaining Leave</p>
        </mat-card-title>
        <mat-card-content>
          0/0
        </mat-card-content>
      </mat-card>
      <mat-card class="mat-card-password" routerLink="changepassword">
        <mat-card-title>
          <img src="assets/Logo/Student/Dashboard/padlock.png" alt="" class="logo2">
          <p class="text3">CHANGE PASSWORD</p>
        </mat-card-title>
      </mat-card>
  </div>
</div>
