.main-Div{
  margin-top: 30px;
}
.mat-card-main{
  padding: 25px;
  border-radius: 10px;
}

.mat-cards{
  background-color: #E2F2FA;
  display: flex;
  margin-bottom: 30px;
}

.twice{
  width: 49%;
}

.logo{
  width: 50px;
  height: 50px;
}

.text{
  margin: 15px 0px 0px 25px;
  font-size: 18px;
  font-weight: 600;
}

.mat-card-address{
  background-color: #FFE689;
  margin-bottom: 10px;
}

mat-card-title{
  display: flex;
}

.logo2{
  width: 55px;
  height: 55px;
}

.text2{
  font-size: 20px;
  font-weight: 500;
  margin: 10px 0px 0px 12px;
}

mat-card-content{
  font-size: 18px;
  font-weight: 500;
}

.mat-card-applyleave{
  background-color: #91BE27;
  margin-bottom: 10px;
  cursor: pointer;
}

.mat-card-leave{
  background-color: #CBC5FF;
  margin-bottom: 10px;
}

.mat-card-password{
  background-color: #B4C6DA;
  cursor: pointer;
}

.text3{
  margin: 10px 0px 0px 20px;
  font-size: 20px;
  font-weight: 600;
}
