<mat-card class="mainMatCard">
  <div class="bg-image" style="background-image: url(assets/Logo/Student/Mess/image.png);">
    <div class="div1" (click)="onWeeklyMenuReDirect('Breakfast')">
      <span style="font-size: 25px; font-weight: 650;">Breakfast</span>
    </div>
    <div class="div1" (click)="onWeeklyMenuReDirect('Lunch')">
      <span style="font-size: 25px; font-weight: 650;">Lunch</span>
    </div>
    <div class="div1" (click)="onWeeklyMenuReDirect('Dinner')">
      <span style="font-size: 25px; font-weight: 650;">Dinner</span>
    </div>
  </div>
</mat-card>
