<div class="main-container">
  <h3>Scan QR Code</h3>
  <div>
    <button (click)="startScan()" *ngIf="!scanActive" class="btn btn-success">Start Scan</button>
    <button (click)="resetScan()" *ngIf="scanResult" class="btn btn-secondary">Reset Scan</button>
    <button (click)="stopScan()" *ngIf="scanActive" class="btn btn-danger">Stop Scan</button>
  </div>
  <div class="lastDiv">
    <video #video [hidden]="!scanActive" width="350px" height="400px"></video>
    <canvas #canvas hidden></canvas>
  </div>
  <div class="errorMessage" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>
  <mat-card class="card1">
    <div class="response" *ngIf="messResponseStatus">
      <p>Hello {{ messResponseData.MessStaffName }}</p>
      <p>Type :- {{ messResponseData.Type }}</p>
      <p>Student Scan Time :- {{ messResponseData.Time }}</p>
      <p>Student Scan Date :- {{ messResponseData.Date }}</p>
    </div>
    <div class="response" *ngIf="gateResponseStatus">
      <p>QR Code is Generate by</p>
      <p> SecurityGuard {{ gateResponseData.SecurityGuardName }}</p>
      <p>Status :- {{ gateResponseData.Status }}</p>
      <p>Your Scan Time :- {{ gateResponseData.Time.substring(0,8) }}</p>
      <p>Your Scan Date :- {{ gateResponseData.Date }}</p>
    </div>
  </mat-card>
</div>
