<mat-card class="mainCard">
    <div class="header">EDIT MESS STAFF INFORMATION</div>

    <form [formGroup]="formData" (ngSubmit)="onSave()">
        <div class="nameDiv">
            <mat-form-field class="example-full-width hey" appearance="fill">
                <mat-label>First Name</mat-label>
                <input matInput type="text" formControlName="fn">
                <span *ngIf="!formData.get('fn').valid && formData.get('fn').touched && !formData.get('fn').errors?.minlength" class="help-block" style="color:brown;font-size: 12px;"> Please Enter First Name</span>
                <span *ngIf="!formData.get('fn').valid && formData.get('fn').errors?.minlength" class="help-block" style="color:brown;font-size: 12px;"> First Name should contain at least 3 character</span>
            </mat-form-field>
            <mat-form-field class="example-full-width hey" appearance="fill">
                <mat-label>Middle Name</mat-label>
                <input matInput type="text" formControlName="mn">
                <!-- <span *ngIf="!formData.get('mn').valid && formData.get('mn').touched" class="help-block" style="color:brown;font-size: 12px;"> Please Enter Middle Name</span> -->
            </mat-form-field>
            <mat-form-field class="example-full-width hey" appearance="fill">
                <mat-label>Last Name</mat-label>
                <input matInput type="text" formControlName="ln">
                <span *ngIf="!formData.get('ln').valid && formData.get('ln').touched && !formData.get('ln').errors?.minlength" class="help-block" style="color:brown;font-size: 12px;"> Please Enter Last Name</span>
                <span *ngIf="!formData.get('ln').valid && formData.get('ln').errors?.minlength" class="help-block" style="color:brown;font-size: 12px;"> Last Name should contain at least 3 character</span>
            </mat-form-field>

        </div>
        <div class="div2">
            <mat-form-field appearance="fill">
                <mat-label>Gender</mat-label>
                <mat-select formControlName="gender">
                  <mat-option *ngFor="let g of gender" [value]="g.value">
                    {{g.value}}
                  </mat-option>
                </mat-select>
                <span *ngIf="!formData.get('gender').valid && formData.get('gender').touched" class="help-block" style="color:brown;font-size: 12px;"> Please Select Gender</span>
              </mat-form-field>
            <mat-form-field class="example-full-width hey1" appearance="fill">
                <mat-label>Address</mat-label>
                <input matInput type="text" formControlName="add">
                <span *ngIf="!formData.get('add').valid && formData.get('add').touched" class="help-block" style="color:brown;font-size: 12px;"> Please Enter Address</span>
            </mat-form-field>
        </div>
        <div class="div3">
            <mat-form-field class="example-full-width hey1" appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email">
                <span *ngIf="!formData.get('email').valid && formData.get('email').touched && !formData.get('email').errors?.email" class="help-block" style="color:brown;font-size: 12px;"> Please Enter Email</span>
                <span *ngIf="!formData.get('email').valid && formData.get('email').errors?.email" class="help-block" style="color:brown;font-size: 12px;"> Email Address in Invalid</span>
            </mat-form-field>
            <mat-form-field class="example-full-width hey1" appearance="fill">
                <mat-label> Mobile Number</mat-label>
                <input matInput type="text" formControlName="mobileNo">
                <span *ngIf="!formData.get('mobileNo').valid && formData.get('mobileNo').touched && !formData.get('mobileNo').errors?.pattern" class="help-block" style="color:brown;font-size: 12px;"> Please Enter Mobile Number</span>
                <span *ngIf="!formData.get('mobileNo').valid && formData.get('mobileNo').errors?.pattern" class="help-block" style="color:brown;font-size: 12px;"> Mobile Number is Invalid</span>
            </mat-form-field>
        </div>
        <!-- <div class="div4">
            <mat-form-field class="example-full-width hey1" appearance="fill">
                <mat-label>Birth Date</mat-label>
                <input matInput type="Date" formControlName="dob" (change)="calculateAge()">
                <span *ngIf="!formData.get('dob').valid && formData.get('dob').touched" class="help-block" style="color:brown;font-size: 12px;"> Please Enter Birthdate</span>
                <span *ngIf="errorMessage !== null" class="help-block" style="color:brown;font-size: 12px;"> Please Enter Valid Date</span>
            </mat-form-field>
        </div> -->
        <hr>
        <div class="btnDiv">
            <button class="btn addBtn" type="submit" [disabled]="!formData.valid">Add Secretory</button>
        </div>
    </form>
</mat-card>
