.outerCard{
    margin: 15px;
}

.cardDiv{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
}

.example-card{
    width: 300px;
    cursor: pointer;
    background-color: #A7D1DF;
}

.head{
    font-size: 20px;
    font-weight: 650;
    text-align: center;
}

.content{
    font-size: 14px;
    font-weight: 500;  
}

.div1{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.div2{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.addRoomDiv{
    text-align: right;
}