<mat-card class="outerCard">
    <div class="addRoomDiv"><button class="btn btn-success" (click)="onAddRoom()">Add Room</button></div>
    <div class="formDiv">
        <form [formGroup] = "formData">
            <div class="div1">
                <mat-form-field appearance="fill">
                    <mat-label>Select Hostel</mat-label>
                    <mat-select formControlName="HostelID" (selectionChange)="onChange()">
                      <mat-option *ngFor="let p of hostelList" [value]="p.HostelID">
                        {{p.HostelName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Select Wing</mat-label>
                    <mat-select formControlName="WingID"  (selectionChange)="onChangeWing()">
                      <mat-option *ngFor="let p of wingList" [value]="p.WingID">
                        {{p.WingName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <div class="div2" *ngIf="roomList !== null">Total Number of Rooms :- {{ roomList.length }}</div>
        </form>
    </div>
    <hr>
    <div class="cardDiv">
        <mat-card class="example-card" *ngFor="let r of roomList" [ngStyle]="{ 'background-color' : r.NoOfBeds === r.FillBeds ? '#A7D1DF' : '#D0F0C0' }">
            <div class="head">
                {{ r.RoomID }}
            </div>
            <hr style="margin-top:10px">
            <div class="content">
                <p>Hostel Name :- {{ r.HostelName }}</p>
                <p>Wing Name :- {{ r.WingName }}</p>
                <p>Number of Beds :- {{ r.NoOfBeds }}</p>
                <p>Room Description :- {{ r.RoomDescription }}</p>
                <p>Remaining Beds :- {{ r.NoOfBeds - r.FillBeds }}</p>
            </div>
            <hr style="margin-top:10px">
            <div class="footer">
              <button class="btn btn-primary" (click)="onAllotRoom(r.RoomID)">Allotment</button>
            </div>
        </mat-card>
    </div>
</mat-card>