<mat-card class="mainCard">
  <header>
    <button class="btn" (click)="onAddWarden()">ADD WARDEN</button>
  </header>
  <div class="middleDiv">
    <mat-card class="infoCard" *ngFor="let d of wardenData">
      <div class="innerDiv">
        <p>Name :- {{ d.FirstName }} {{ d.MiddleName }} {{ d.LastName }}</p>
        <p>Email :- {{ d.Gmail }}</p>
        <p>Contact :- {{ d.MobileNo }}</p>
      </div>
      <div>
        <button class="btn editbtn" (click)="onEditRoute(d.WardenID)">Edit</button>
      </div>
    </mat-card>
  </div>
</mat-card>
