*{
  padding: 0px;
  margin: 0px;
}

.pillai-logo-div{
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.pillai-logo{
  width: 83px;
  height: 46px;
}

nav{
  margin-top: 30px;
}

.logo{
  width: 50px;
  height: 50px;
  margin: 10px;
}

ul{
  text-align: center;
}

li{
  margin-bottom: 35px;
}

.active{
  background-color: #EAF1F1;
}
