.outerCard{
    margin: 15px;
}

.innerCard{
    background-color: #E2F2FA;
}

.mainCard{
    width: 350px;
    margin: auto;
    text-align: center;
}

.head{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.field{
    width: 100%;
}