<mat-card class="outerCard">
    <mat-card class="innerCard">
        <mat-card class="mainCard">
            <form [formGroup]="formData">
                <div class="head">Add Room Form</div>
                <hr>
                <mat-form-field appearance="fill" class="field">
                    <mat-label>Select Hostel</mat-label>
                    <mat-select formControlName="HostelID" (selectionChange)="onChange()">
                      <mat-option *ngFor="let p of hostelList" [value]="p.HostelID">
                        {{p.HostelName}}
                      </mat-option>
                    </mat-select>
                    <!-- <span *ngIf="!formData.get('HostelID').valid && formData.get('HostelID').touched" class="help-block" style="color:brown;font-size: 12px;"> Please Select Hostel</span> -->
                  </mat-form-field>
                  <mat-form-field appearance="fill" class="field">
                    <mat-label>Select Wing</mat-label>
                    <mat-select formControlName="WingID">
                      <mat-option *ngFor="let p of wingList" [value]="p.WingID">
                        {{p.WingName}}
                      </mat-option>
                    </mat-select>
                    <!-- <span *ngIf="!formData.get('WingID').valid && formData.get('WingId').touched" class="help-block" style="color:brown;font-size: 12px;"> Please Select Wing</span> -->
                  </mat-form-field>
                  <mat-form-field appearance="fill" class="field">
                    <mat-label>Select Number of Beds</mat-label>
                    <mat-select formControlName="NoOfBeds">
                      <mat-option *ngFor="let p of noOfBeds" [value]="p.value">
                        {{p.value}}
                      </mat-option>
                    </mat-select>
                    <!-- <span *ngIf="!formData.get('NoOfBeds').valid && formData.get('NoOfBeds').touched" class="help-block" style="color:brown;font-size: 12px;"> Please Select Number of Beds in Room</span> -->
                  </mat-form-field>
                  <mat-form-field class="example-full-width field" appearance="fill">
                    <mat-label>Room Description</mat-label>
                    <input matInput type="text" formControlName="Description">
                    <span *ngIf="!formData.get('Description').valid && formData.get('Description').touched" class="help-block" style="color:brown;font-size: 12px;"> Please Enter Some Description About Room</span>
                </mat-form-field>
                <hr>
                <button class="btn btn-success" [disabled]="!formData.valid" (click)="onSave()">Add Room</button>
            </form>
        </mat-card>
    </mat-card>
</mat-card>