.main-mat-card{
  margin: 10px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  height: 80%;
}

.header{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  font-size: 20px;
  font-weight: 500;
}

.mat-card-1{
  width: 70%;
  text-align: center;
}

.QrCode{
  margin-top: 50px;
}

.right{
  width: 27%;
}

.mat-card-2{
  width: 100%;
  height: 20%;
  background-color: #CBC5FF;
  cursor: pointer;
  text-align: center;
  padding-top: 45px;
  margin-bottom: 10px;
}

.mat-card-2 > p{
  font-size: 20px;
  font-weight: 500;
}

.errorMessage{
  margin: 10px;
  width: auto;
  font-size: 18px;
  background-color: #FFD2D2;
  color: #D8000C;
}
