<mat-card class="mainCard">
    <header>
        <button class="btn" (click)="onAddMessStaff()">ADD MESS STAFF</button>
    </header>
    <div class="middleDiv">
        <mat-card class="infoCard" *ngFor="let d of messStaffData">
          <div class="innerDiv">
            <p>Name :- {{ d.FirstName }} {{ d.MiddleName }} {{ d.LastName }}</p>
            <p>Email :- {{ d.Gmail }}</p>
            <p>Contact :- {{ d.MobileNo }}</p>
          </div>
          <div>
            <button class="btn editbtn" (click)="onEditRoute(d.MessStaffID)">Edit</button>
          </div>
        </mat-card>
    </div>
</mat-card>
