<mat-card class="outerCard">
  <mat-card class="innerCard">
    <p style="font-size: 20px;font-weight: 550;margin-top: 10px;"><span style="color: #878787">Fees Pending:- </span>{{ feesPending() | currency : 'INR' }}</p>
    <hr style="border: 1px solid lightgray">
    <div class="fees">
      <p class="text">Hostel Fees</p>
      <table>
        <tr class="firstRow">
          <td>Total Hostel Fees</td>
          <td>Year</td>
        </tr>
        <tr class="secondRow" *ngFor="let d of hostelFees">
          <td>{{ d.Amount | currency: 'INR'}}</td>
          <td>{{ d.Year }}</td>
        </tr>
      </table>
      <p style="font-size: 17px;font-weight: 550;margin-top: 10px;"><span style="color: #878787">Total Hostel Fees :- </span>{{ getTotalHostelFees() | currency : 'INR'}}</p>
    </div>
    <hr style="border: 1px solid lightgray">
    <div class="fees">
      <p class="text">Mess Fees</p>
      <table>
        <tr class="firstRow">
          <td>Food_Type</td>
          <td>Count</td>
          <td>Amount</td>
          <td>Total Amount</td>
        </tr>
        <tr class="secondRow" *ngFor="let m of messFees">
          <td>{{ m.Type }}</td>
          <td>{{ m.Count }}</td>
          <td>{{ m.Amount | currency: 'INR'}}</td>
          <td>{{ m.TotalAmount | currency: 'INR'}}</td>
        </tr>
      </table>
      <p style="font-size: 17px;font-weight: 550;margin-top: 10px;"><span style="color: #878787">Total Mess Fees :- </span>{{ getTotalMessFees() | currency : 'INR'}}</p>
    </div>
    <hr style="border: 1px solid lightgray">
    <div class="fees">
      <p class="text">Fees Paid</p>
      <table>
        <tr class="firstRow">
          <td>Date</td>
          <td>Time</td>
          <td>Amount</td>
          <td>Payment Method</td>
          <td>Payment Done By Secretory</td>
        </tr>
        <tr class="secondRow" *ngFor="let p of feesPaid">
          <td>{{ p.Date }}</td>
          <td>{{ p.Time }}</td>
          <td>{{ p.Amount | currency : 'INR'}}</td>
          <td>{{ p.PaymentMethod }}</td>
          <td>{{ p.SecretoryFN }} {{ p.SecretoryMN }} {{ p.SecretoryLN }}</td>
        </tr>
      </table>
      <p style="font-size: 17px;font-weight: 550;margin-top: 10px;"><span style="color: #878787">Total Fees Paid :- </span>{{ getTotalFeesPaid() | currency : 'INR'}}</p>
    </div>
  </mat-card>
</mat-card>