.outerCard {
    margin: 15px;
}

.innerCard {
    background-color: #E2F2FA;
    text-align: center;
}

.stdInfo{
    text-align: left;
}

.he1{
    font-size: 20px;
    font-weight: 650;
}

.he2{
    font-size: 16px;
    font-weight: 500;
}

.f1{
    margin-left: 10%;
}

.f2{
    margin-right: 10%;
}

.fees {
    margin-bottom: 20px;
}

.combinefees{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.firstRow {
    background-color: #979797;
}

.firstRow>td {
    padding: 10px;
    font-size: 17px;
    font-weight: 500;
    color: white;
    border: 1px #8A8A8A solid;
}

.secondRow {
    background-color: #FBFFC6;
}

.secondRow>td {
    padding: 10px;
    font-size: 17px;
    font-weight: 500;
    color: black;
}

table {
    margin: auto;
}

.text {
    font-size: 20px;
    font-weight: 600;
}

.heading{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.inputDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.head1{
    font-size: 18px;
    font-weight: 600;
}

.text1{
    font-size: 16px;
    font-weight: 500;
}

.text2{
    margin-left: 10px;
}