<mat-card class="outerCard">
    <mat-card class="innerCard">
        <div class="stdInfo" *ngIf="stdInfo">
            <p class="he1">Student Information</p>
            <p class="he2">Hostel Name :- {{stdInfo.HostelName }} </p>
            <p class="he2">Wing Name :- {{stdInfo.WingName }} </p>
            <p class="he2">Room Number :- {{stdInfo.RoomID }} </p>
            <p class="he2">Name :- {{stdInfo.FirstName }} {{stdInfo.MiddleName }} {{stdInfo.LastName }}</p>
            <p class="he2">Email :- {{stdInfo.Email }} </p>
            <p class="he2">Mobile Number :- {{stdInfo.MobileNumber }} </p>
        </div>
        <hr style="border: 1px solid lightgray">
        <div class="combinefees">
            <div class="fees f1">
                <p class="text">Hostel Fees</p>
                <table>
                    <tr class="firstRow">
                        <td>Total Hostel Fees</td>
                        <td>Year</td>
                    </tr>
                    <tr class="secondRow" *ngFor="let d of hostelFees">
                        <td>{{ d.Amount | currency: 'INR'}}</td>
                        <td>{{ d.Year }}</td>
                    </tr>
                </table>
                <p style="font-size: 17px;font-weight: 550;margin-top: 10px;"><span style="color: #878787">Total Hostel
                        Fees :- </span>{{ getTotalHostelFees() | currency : 'INR'}}</p>
            </div>
            <hr style="border: 1px solid lightgray">
            <div class="fees f2">
                <p class="text">Mess Fees</p>
                <table>
                    <tr class="firstRow">
                        <td>Food_Type</td>
                        <td>Count</td>
                        <td>Amount</td>
                        <td>Total Amount</td>
                    </tr>
                    <tr class="secondRow" *ngFor="let m of messFees">
                        <td>{{ m.Type }}</td>
                        <td>{{ m.Count }}</td>
                        <td>{{ m.Amount | currency: 'INR'}}</td>
                        <td>{{ m.TotalAmount | currency: 'INR'}}</td>
                    </tr>
                </table>
                <p style="font-size: 17px;font-weight: 550;margin-top: 10px;"><span style="color: #878787">Total Mess
                        Fees :- </span>{{ getTotalMessFees() | currency : 'INR'}}</p>
            </div>
        </div>
        <hr style="border: 1px solid lightgray">
        <div class="fees">
            <p class="text">Fees Paid</p>
            <table>
                <tr class="firstRow">
                    <td>Date</td>
                    <td>Time</td>
                    <td>Amount</td>
                    <td>Payment Method</td>
                    <td>Payment Done By Secretory</td>
                </tr>
                <tr class="secondRow" *ngFor="let p of feesPaid">
                    <td>{{ p.Date }}</td>
                    <td>{{ p.Time }}</td>
                    <td>{{ p.Amount | currency : 'INR'}}</td>
                    <td>{{ p.PaymentMethod }}</td>
                    <td>{{ p.SecretoryFN }} {{ p.SecretoryMN }} {{ p.SecretoryLN }}</td>
                </tr>
            </table>
            <p style="font-size: 17px;font-weight: 550;margin-top: 10px;"><span style="color: #878787">Total Fees Paid
                    :- </span>{{ getTotalFeesPaid() | currency : 'INR'}}</p>
        </div>
        <hr style="border: 1px solid lightgray">
        <p style="font-size: 20px;font-weight: 550;margin-top: 10px;"><span style="color: #878787">Fees Pending:-
            </span>{{ feesPending() | currency : 'INR' }}
        </p>
        <hr style="border: 1px solid lightgray">
        <mat-card class="feesCard">
            <div class="heading">Pay Fees</div>
            <form [formGroup] = "feesData" (ngSubmit)="onSave()">
                <div class="inputDiv">
                    <mat-form-field class="example-full-width hey" appearance="fill">
                        <mat-label>Amount</mat-label>
                        <input matInput type="number" formControlName="Amount">
                        <span *ngIf="!feesData.get('Amount').valid && feesData.get('Amount').touched" class="help-block" style="color:brown;font-size: 12px;"> Please Enter Amount</span>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Payment Method</mat-label>
                        <mat-select formControlName="paymentmethod">
                          <mat-option *ngFor="let p of paymentMethod" [value]="p.value">
                            {{p.value}}
                          </mat-option>
                        </mat-select>
                        <span *ngIf="!feesData.get('paymentmethod').valid && feesData.get('paymentmethod').touched" class="help-block" style="color:brown;font-size: 12px;"> Please Select Payment Method</span>
                      </mat-form-field>
                </div>
                <span *ngIf="errorMessage" class="help-block" style="color:brown;font-size: 12px;">{{ errorMessage }}</span>
                <div class="checkStatus">
                    <input type="checkbox" [checked]="checkStatus" [disabled]="!feesData.valid" (click)="onChangeCheck()"><span class="text2">Check Payment Details</span>  
                </div>
                <hr style="border-top: 1px solid lightgray">
                <div class="paymentInfo" *ngIf="checkStatus">
                    <p class="head1">Verify Pamyent Information</p>
                    <p class="text1">Amount :- {{ feesData.get('Amount').value }}</p>
                    <p class="text1">Payment Method :- {{ feesData.get('paymentmethod').value }}</p>
                    <button class="btn btn-success" [disabled]="!feesData.valid" type="submit">Proceed</button>
                </div>
            </form>
        </mat-card>
    </mat-card>
</mat-card>