.outerCard{
    margin: 10px;
}

.innerCard{
    background-color: #E2F2FA;
}


.mainCard{
    background-color: #A7D1DF;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.Div{
    font-size: 15px;
    font-weight: 500;
    width: 30%;
    text-align: center;
}