.outerCard{
    margin: 10px;
}

.innerCard{
    background-color: #E2F2FA;
    width: 30%;
}

.head{
    font-size: 19px;
    font-weight: 600;
    text-align: center;
}

.mainDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text{
    font-size: 16px;
    font-weight: 500;
}

.footer{
    
}

.text2{
    margin-left:9px;
    font-size:15px;
    font-weight:450
}

.lastDiv{
    text-align: center;
}

.checkBoxDiv{
    display: flex;
    flex-direction: column;
}

.btn{
    margin-top: 20px;
}

.feesDiv{
    text-align: center;
}

.nameDiv{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    margin-top: 20px;
}

.hey{
    width: 45%;
}

.lastButtonDiv{
    text-align: center;
}
