<mat-card class="outerCard">
    <div class="mainDiv" *ngIf="stdData">
        <mat-card class="innerCard">
            <div class="head">Student Information</div>
            <hr style="border-top:1px solid lightgray">
            <div class="content">
                <p class="text">Name :- {{ stdData.SFN }} {{ stdData.SMN }} {{ stdData.SLN }}</p>
                <p class="text">Gender :- {{ stdData.SGender }}</p>
                <p class="text">Email :- {{ stdData.SEmail }}</p>
                <p class="text">Mobile Number :- {{ stdData.SMobileNumber }}</p>
                <p class="text">Date of Birth :- {{ stdData.SDOB }}</p>
                <p class="text">Address :- {{ stdData.SAddress }}</p>
                <p class="text">Citizen :- {{ stdData.SCitizen }}</p>
            </div>
            <div class="footer">
                <hr style="border-top:1px solid lightgray">
                <input type="checkbox" [checked]="checkStd" (click)="changeStatuscheckStd()"><span class="text2">Check Student Information</span>
            </div>
        </mat-card>
        <mat-card class="innerCard">
            <div class="head">Student Education Information</div>
            <hr style="border-top:1px solid lightgray">
            <div class="content">
                <p class="text">Category :- {{ stdData.SCategory }}</p>
                <p class="text">Course :- {{ stdData.SCourse }}</p>
                <p class="text">Course Duration :- {{ stdData.SCourseDuration }}</p>
                <p class="text">Branch :- {{ stdData.SBranch }}</p>
                <p class="text">Year :- {{ stdData.SYear }}</p>
            </div>
            <div class="footer">
                <hr style="border-top:1px solid lightgray">
                <input type="checkbox" [checked]="checkStdEdu" (click)="changeStatuscheckStdEdu()"><span class="text2">Check Student Education Information</span>
            </div>
        </mat-card>
        <mat-card class="innerCard">
            <div class="head">Guardian Information</div>
            <hr style="border-top:1px solid lightgray">
            <div class="content">
                <p class="text">Name :- {{ stdData.GFN }} {{ stdData.GMN }} {{ stdData.GLN }}</p>
                <p class="text">Relation with Student :- {{ stdData.GRelation }}</p>
                <p class="text">Gender :- {{ stdData.GGender }}</p>
                <p class="text">Occupation :- {{ stdData.GOccupation }}</p>
                <p class="text">Email :- {{ stdData.GEmail }}</p>
                <p class="text">Mobile Number :- {{ stdData.GMobileNumber }}</p>
                <p class="text">Date of Birth :- {{ stdData.GDOB }}</p>
                <p class="text">Address :- {{ stdData.GAddress }}</p>
            </div>
            <div class="footer">
                <hr style="border-top:1px solid lightgray">
                <input type="checkbox" [checked]="checkGua" (click)="changeStatuscheckGua()"><span class="text2">Check Guardian Information</span>
            </div>
        </mat-card>
    </div>
    <hr style="border-top:1px solid lightgray">
    <div class="lastDiv" *ngIf="checkStd && checkGua && checkStdEdu">
        <div class="checkBoxDiv">
            <div>
                <input type="checkbox" [checked]="collectDoc" (click)="changeStatuscheckCollectDoc()"><span class="text2">Collect Student Document</span>
            </div>
            <div>
                <input type="checkbox" [checked]="collectAdmLtr" (click)="changeStatuscheckCollectAdmLtr()"><span class="text2">Collect Student Admission Letter</span>
            </div>
        </div>
    </div>
    <hr style="border-top:1px solid lightgray">
    <div class="feesDiv" *ngIf="collectDoc && collectAdmLtr">
        <p class="text">Fill Fees Details</p>
          <mat-card class="formCard">
              <form [formGroup]="formData">
                <div class="nameDiv">
                    <mat-form-field class="example-full-width hey" appearance="fill">
                        <mat-label>Amount</mat-label>
                        <input matInput type="number" formControlName="Amount">
                        <span *ngIf="!formData.get('Amount').valid && formData.get('Amount').touched" class="help-block" style="color:brown;font-size: 12px;"> Please Enter Amount</span>
                    </mat-form-field>
                    <mat-form-field class="example-full-width hey" appearance="fill">
                        <mat-label>Year</mat-label>
                        <input matInput type="text" formControlName="Year">
                        <span *ngIf="!formData.get('Year').valid && formData.get('Year').touched" class="help-block" style="color:brown;font-size: 12px;"> Please Enter Year</span>
                    </mat-form-field>
                </div>
                <div class="nameDiv">
                    <mat-form-field class="example-full-width hey" appearance="fill">
                        <mat-label>Joining Date</mat-label>
                        <input matInput type="date" formControlName="JoinDate">
                        <span *ngIf="!formData.get('JoinDate').valid && formData.get('JoinDate').touched" class="help-block" style="color:brown;font-size: 12px;"> Please Enter Joining Date</span>
                    </mat-form-field>
                    <mat-form-field class="example-full-width hey" appearance="fill">
                        <mat-label>Ending Date</mat-label>
                        <input matInput type="date" formControlName="EndDate">
                        <span *ngIf="!formData.get('EndDate').valid && formData.get('EndDate').touched" class="help-block" style="color:brown;font-size: 12px;"> Please Enter Ending Date</span>
                    </mat-form-field>
                </div>
                <div class="checkDiv">
                    <input type="checkbox" [checked]="checkFeesData" (click)="changeStatusFees()" [disabled]="!formData.valid"><span class="text2">Check Fees Details</span>
                </div>
              </form>
          </mat-card>  
    </div>
    <div class="lastButtonDiv" *ngIf="checkFeesData">
        <button class="btn btn-success" [disabled]="!formData.valid" (click)="onSave()">Approve</button>
    </div>
</mat-card>