<div>
    <div class="pillai-logo-div">
      <img src="assets/Logo/Student/Dashboard/pillai-logo.png" alt="" class="pillai-logo">
    </div>
  </div>
  
  <div>
    <nav>
      <ul>
        <li routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <img src="{{ headerText === 'Personal Details' ? staffBlack : staffWhite}}" alt="" class="logo">
        </li>
        <li routerLink="stdList" routerLinkActive="active">
          <img src="{{ headerText === 'Student Information' ? feesLogoBlack : feesLogoWhite }}" alt="" class="logo">
        </li>
        <li routerLink="stdRegisterList" routerLinkActive="active">
          <p>Student Register List</p>
          <!-- <img src="{{ headerText === 'Register Student List' ? 'Register Student' : 'Register Student' }}" alt="" class="logo"> -->
        </li>
        <li routerLink="roomList" routerLinkActive="active">
          <img src="{{ headerText === 'Hostel Room List' ? roomLogoBlack : roomLogoWhite }}" alt="" class="logo">
        </li>
        <li routerLink="/auth" (click)='onLogout()'>
          <img src="{{ logout }}" alt="" class="logo">
        </li>
      </ul>
    </nav>
  </div>
  