<mat-card class="main-card">
    <mat-card class="inner-card">
      <div class="main-Div">
        <form [formGroup]="passwordData" (ngSubmit)="onSave()">
          <img src="assets/Logo/Student/ChangePassword/shield.png" alt="shield" class="shield-img">
          <p class="text">Reset Password</p>
          <div class="input-Div">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Current Password</mat-label>
              <input matInput type="password" formControlName="currentPassword">
              <span *ngIf="!passwordData.get('currentPassword').valid && passwordData.get('currentPassword').touched" class="help-block" style="color:brown;font-size: 12px;"> Please Enter Current Password</span>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>New Password</mat-label>
              <input matInput type="password" formControlName="newPassword">
              <span *ngIf="!passwordData.get('newPassword').valid && passwordData.get('newPassword').touched" class="help-block" style="color:brown;font-size: 12px;">Please Enter New Password</span>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Confirm Password</mat-label>
              <input matInput type="password" formControlName="reEnterNewPassword">
              <span *ngIf="!passwordData.get('reEnterNewPassword').valid && passwordData.get('reEnterNewPassword').touched && passwordData.get('reEnterNewPassword').errors" class="help-block" style="color:brown;font-size: 12px;"><span *ngIf="!passwordData.get('reEnterNewPassword').errors.confirmValidator">Please Re-Enter New Password</span></span>
              <span *ngIf="passwordData.get('reEnterNewPassword').errors" style="color: brown;font-size: 12px;"><span *ngIf="passwordData.get('reEnterNewPassword').errors.confirmValidator">Password is not Matching</span></span>
            </mat-form-field>
            <div class="button-Div">
              <button class="btn" type="submit" [disabled]="!passwordData.valid">Reset Password</button>
            </div>
          </div>
        </form>
      </div>
    </mat-card>
  </mat-card>
  