<div>
  <div class="pillai-logo-div">
    <img src="assets/Logo/Student/Dashboard/pillai-logo.png" alt="" class="pillai-logo">
  </div>
</div>

<div>
  <nav>
    <ul>
      <li routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <img src="{{ headerText === 'Personal Details' ? dashboardBlack : dashboardWhite}}" alt="" class="logo">
      </li>
      <!-- <li routerLink="allotedDuties" routerLinkActive="active">
        <img src="{{ headerText === 'Alloted Duties' ? allotedDutiesBlack : allotedDutiesWhite}}" alt="" class="logo">
      </li> -->
      <li routerLink="hostelInfo" routerLinkActive="active">
        <img src="{{ headerText === 'Hostel Information' ? hostelInfoBlack : hostelInfoWhite}}" alt="" class="logo">
      </li>
      <li routerLink="leaveInfo" routerLinkActive="active">
        <img src="{{ headerText === 'Leave Information' ? leaveInfoBlack : leaveInfoWhite}}" alt="" class="logo">
      </li>
      <li routerLink="stdList" routerLinkActive="active">
        <!-- <img src="{{ headerText === 'Student List' ? leaveInfoBlack : leaveInfoWhite}}" alt="" class="logo"> -->
        Search
      </li>
      <li routerLink="/auth" (click)="onLogout()">
        <img src="{{logout}}" alt="" class="logo">
      </li>
    </ul>
  </nav>
</div>
