<mat-card class="mainCard">
    <header>
        <button class="btn" (click)="onAddSecurity()">ADD SECURITY GUARD</button>
    </header>
    <div class="middleDiv">
        <mat-card class="infoCard" *ngFor="let d of securityData">
            <div>
                <p>{{ d.name }}</p>
                <p>Email</p>
                <p>Contact</p>
            </div>
            <div>
                <button class="btn editbtn" (click)="onEditRoute(d.id)">Edit</button>
            </div>
        </mat-card>
    </div>
</mat-card>