<mat-card class="card1" *ngIf="notAltStdList">
    <div class="head1">Student List of not Allotment Room</div>
    <hr style="border-top:1px solid lightgray">
    <div class="list1">
        <mat-card class="card2" *ngFor="let s of notAltStdList">
            <div class="text">{{ s.FN }} {{ s.MN }} {{ s.LN }}</div>
            <div class="text">{{ s.Email }}</div>
            <div class="text">{{ s.MobileNumber }}</div>
        </mat-card>
    </div>
    <hr style="border-top:1px solid lightgray">
    <div class="startAlt" *ngIf="notAltStdList">
        <button class="btn btn-primary" (click)="startAltChange()">Start Allotment</button>
    </div>
    <hr style="border-top:1px solid lightgray" *ngIf="startAlt">
    <div class="sure"  *ngIf="startAlt">
        <p class="text1">Are you sure to Allotcate {{ notAltStdList.length }} Student ...... ?</p>
        <div>
            <button class="btn btn-danger" (click)="startAltChange()">No</button>
            <button class="btn btn-primary" (click)="altAllStd()">Yes</button>
        </div>
    </div>
</mat-card>

<mat-card class="card1" *ngIf="altStdList">
    <div class="head1">Allocated Rooms, Student List</div>
    <hr style="border-top:1px solid lightgray">
    <div class="list1">
        <mat-card class="card2" *ngFor="let s of altStdList">
            <div class="text2">
                <p>Name :- {{ s.FN }} {{ s.MN }} {{ s.LN }}</p>
                <p>Email :- {{ s.Email }}</p>
                <p>Email :- {{ s.MobileNumber }}</p>
            </div>
            <div class="text2">
                <p>Gender :- {{ s.Gender }}</p>
                <p>Category :- {{ s.Category }}</p>
            </div>
            <div class="text2">
                <p>RoomID :- {{ s.RoomID }}</p>
                <p>WingName :- {{ s.WingName }}</p>
                <p>HostelName :- {{ s.HostelName }}</p>
            </div>
        </mat-card>
    </div>
    <hr style="border-top:1px solid lightgray">
</mat-card>