.outerCard{
    margin: 15px;
}

.card1{
    background-color: #E2F2FA;
    width: 400px;
    margin: auto;
}

.head1{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}