<mat-card class="outerCard">
    <mat-card class="card1">
        <div class="head1">
            Room Details
        </div>
        <hr style="border-top:1px solid lightgray">
        <div class="content" *ngIf="roomDetails">
            <p>Room ID :- {{ roomDetails.RoomID }}</p>
            <p>Hostel Name :- {{ roomDetails.HostelName }}</p>
            <p>Wing Name :- {{ roomDetails.WingName }}</p>
            <p>Number of Beds :- {{ roomDetails.NoOfBeds }}</p>
            <p>Room Description :- {{ roomDetails.Description }}</p>
        </div>
    </mat-card>
    <mat-card class="card2">
        <div class="head2">
            Room Allotment Details
        </div>
        <hr style="border-top:1px solid lightgray">
        <div class="Info">
            <mat-card class="card3" *ngFor="let d of noofbeds">
                <div class="name" *ngIf="d.ID">{{ d.StudentFN }} {{ d.StudentMN }} {{ d.StudentLN }}</div>
                <div class="mn" *ngIf="d.ID">{{ d.StudentMobileNumber }}</div>
                <div class="em" *ngIf="d.ID">{{ d.StudentEmail }}</div>
                <div class="updatebtn" *ngIf="d.ID"><button class="btn btn-warning" (click)="openDialogUpdate(d.ID)">Update</button></div>
                <div class="addbtn" *ngIf="!d.ID"><button class="btn btn-primary"  (click)="openDialogAdd(d.ID)">Add New Member</button></div>
            </mat-card>
        </div>
    </mat-card>
</mat-card>