.outerCard{
    margin: 15px;
}

.card1{
    background-color: #E2F2FA;
    width: 400px;
    margin: auto;
}

.head1 , .head2{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.content{
    font-size: 17px;
    font-weight: 500;
}

.card2{
    background-color: #E2F2FA;
    margin: 10px;
}

.card3{
    background-color: #A7D1DF;
    margin: 10px;
    text-align: center;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 450;
}

.name , .mn , .em , .updatebtn , .addbtn{
    width: 25%;
}
