.mainDiv{
    width: 100%;
    background-color: #EAF1F1;
}

.head{
    text-align: right;
    padding-top: 10px;
    padding-right: 10px;
}

.outerCard{
    margin: 10px;
    background-color: #E2F2FA;
    margin-bottom: 10px;
}

.mainCard{
    margin: 40px;
    height: 80%;
    text-align: center;
    padding-top: 50px;
}

.header{
    font-size: 21px;
    font-weight: 650;
}
/* 
input{
    background-color: #E3EBFF;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
} */

.nameDiv{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    margin-top: 20px;
}

.div2{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    margin-top: 20px;
}

.div3{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    margin-top: 20px;
}

.div4 , .div5 , .div6{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    margin-top: 20px;
}

.btnDiv{
    margin-top: 20px;
}

.addBtn{
    background-color: #0B246E;
    width: 350px;
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.hey{
    width: 30%;
}

.hey1{
    width: 45%;
}


/* Date hide dd/mm/yy  */
/* input[type=date]::-webkit-datetime-edit-text {
    -webkit-appearance: none;
    display: none;
}
input[type=date]::-webkit-datetime-edit-month-field{
    -webkit-appearance: none;
    display: none;
}
input[type=date]::-webkit-datetime-edit-day-field {
    -webkit-appearance: none;
    display: none;
}
input[type=date]::-webkit-datetime-edit-year-field {
    -webkit-appearance: none;
    display: none;
} */

input[type="date"]:before {
    color: lightgrey;
    content: attr(placeholder) !important;
    margin-right: 0.5em;
}

