<mat-card class="outerCard">
    <mat-card class="innerCard" >
        <div class="searchDiv">
            <div class="search-box">
                <button class="btn-search"><mat-icon>search</mat-icon></button>
                <input type="text" class="input-search" placeholder="Type to Search..." [(ngModel)]="searchName">
            </div>
        </div>
        <hr style="border: 1px solid lightgray">
        <mat-card class="mainCard" *ngFor="let d of stdList | Search : searchName" (click)="onClick(d.StudentID)">
            <div class="Div">{{ d.FirstName }} {{ d.MiddleName }} {{ d.LastName }}</div>
            <div class="Div">{{ d.Email }}</div>
            <div class="Div">{{ d.MobileNumber }}</div>
        </mat-card>
    </mat-card>
</mat-card>