.main-card{
  margin: 25px;
  padding: 25px
}

.inner-card{
  background-color: #B4C6DA;
  height: 75vh;
}

.main-Div{
  text-align: center;
  margin-top: 5%!important;
}

.shield-img{
  width: 75px;
  height: 75px;
}

.text{
  font-size: 25px;
  font-weight: 600;
  margin-top: 10px;
}

mat-form-field{
  width: 350px;
}


::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: black !important;
 }

 ::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: black !important;
}

::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: black !important;;
}

mat-label{
  font-size: 13px;
  font-weight: 500;
  color:#7E8186;
}

.btn{
  background-color: #56A3C9;
  font-size: 15px;
  font-weight: 500;
  color:white;
  width: 200px;
}
